<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" >
<head>
    <th:block th:include="include :: header('新增设备')" />
</head>
<body class="white-bg">
    <div class="wrapper wrapper-content animated fadeInRight ibox-content">
        <form class="form-horizontal m" id="form-equipment-add">
            <div class="form-group">    
                <label class="col-sm-3 control-label">设备编号：</label>
                <div class="col-sm-8">
                    <input name="deviceId" id="deviceId" class="form-control" type="text" required>
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-3 control-label">所属服务商：</label>
                <div class="col-sm-8">
                    <select name="providerId" class="form-control m-b" th:with="ps=${@providerservice.searchALLProviders()}">
                        <option th:each="p : ${ps}" th:text="${p.providerName}" th:value="${p.providerId}"></option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">设备类型：</label>
                <div class="col-sm-8">
                    <select name="type" class="form-control m-b" th:with="type=${@dict.getType('equipment_type')}" required>
                        <option th:each="dict : ${type}" th:text="${dict.dictLabel}" th:value="${dict.dictValue}"></option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">设备序号：</label>
                <div class="col-sm-8">
                    <input name="equipmentSort" class="form-control" type="text" required>
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">设备状态</label>
                <div class="col-sm-8">
                    <label class="toggle-switch switch-solid">
                        <input type="checkbox" id="status" checked>
                        <span></span>
                    </label>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">备注：</label>
                <div class="col-sm-8">
                    <input id="remark" name="remark" class="form-control" type="text">
                </div>
            </div>
        </form>
    </div>
    <th:block th:include="include :: footer" />
    <script type="text/javascript">
        var prefix = ctx + "service/equipment"
        $("#form-equipment-add").validate({
            //添加规则,校验设备编号是否已经存在
            onkeyup: false,
            rules:{
                deviceId:{
                    remote: {
                        url: ctx + "service/equipment/checkEquipmentDeviceIdUnique",
                        type: "post",
                        dataType: "json",
                        data: {
                            "deviceId": function() {
                                return $("#deviceId").val();
                            }
                        },
                        dataFilter: function(data, type) {
                            return $.validate.unique(data);
                        }
                    }
                },
                equipmentSort:{
                    digits:true
                },
            },
            messages: {
                "deviceId": {
                    remote: "设备编号已经存在"
                }
            },
            focusCleanup: true
            //添加规则,校验设备编号是否已经存在
        });

        function submitHandler() {
            if ($.validate.form()) {
                var data = $('#form-equipment-add').serializeArray();
                var status = $("input[id='status']").is(':checked') == true ? 0 : 1;
                data.push({"name": "status", "value": status});
                $.operate.save(prefix + "/add", data);
            }
        }
    </script>
</body>
</html>