<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" >
<head>
	<th:block th:include="include :: header('修改设备')" />
</head>
<body class="white-bg">
<div class="wrapper wrapper-content animated fadeInRight ibox-content">
	<form class="form-horizontal m" id="form-equipment-edit" th:object="${equipment}">
		<input name="equipmentId" id="equipmentId" th:field="*{equipmentId}" type="hidden">
		<div class="form-group">
			<label class="col-sm-3 control-label">设备编号：</label>
			<div class="col-sm-8">
				<input name="deviceId"  id="deviceId" th:field="*{deviceId}" class="form-control" type="text" required>
			</div>
		</div>
		<div class="form-group">
			<label class="col-sm-3 control-label">所属服务商：</label>
			<div class="col-sm-8">
				<select name="providerId" class="form-control m-b" th:with="ps=${@providerservice.searchALLProviders()}">
					<option th:each="p : ${ps}" th:text="${p.providerName}" th:value="${p.providerId}" th:field="*{providerId}"></option>
				</select>
			</div>
		</div>
		<div class="form-group">
			<label class="col-sm-3 control-label">设备类型：</label>
			<div class="col-sm-8">
				<select name="type" class="form-control m-b" th:with="type=${@dict.getType('equipment_type')}" required>
					<option th:each="dict : ${type}" th:text="${dict.dictLabel}" th:value="${dict.dictValue}" th:field="*{type}"></option>
				</select>
			</div>
		</div>
		<div class="form-group">
			<label class="col-sm-3 control-label">设备序号：</label>
			<div class="col-sm-8">
				<input name="equipmentSort" th:field="*{equipmentSort}" class="form-control" type="text" required>
			</div>
		</div>
<!--		<div class="form-group">-->
<!--			<label class="col-sm-3 control-label">设备状态：</label>-->
<!--			<div class="col-sm-8">-->
<!--				<label class="toggle-switch switch-solid">-->
<!--					<input type="checkbox" id="status" th:checked="${equipment.status == '0' ? true : false}" disabled="disabled"/>-->
<!--					<span></span>-->
<!--				</label>-->
<!--			</div>-->
<!--		</div>-->
		<div class="form-group">
			<label class="col-sm-3 control-label">备注：</label>
			<div class="col-sm-8">
				<input id="remark" name="remark" class="form-control" type="text" th:field="*{remark}">
			</div>
		</div>
	</form>
</div>
<th:block th:include="include :: footer" />
<script type="text/javascript">
	var prefix = ctx + "service/equipment";
	$("#form-equipment-edit").validate({
		//添加规则,校验设备编号是否已经存在
		onkeyup: false,
		rules:{
			deviceId:{
				remote: {
					url: ctx + "service/equipment/checkEquipmentDeviceIdUnique",
					type: "post",
					dataType: "json",
					data: {
						"deviceId": function() {
							return $("#deviceId").val();
						},
						"equipmentId": function() {
							return $("#equipmentId").val();
						}
					},
					dataFilter: function(data, type) {
						return $.validate.unique(data);
					}
				}
			},
			equipmentSort:{
				digits:true
			},
		},
		messages: {
			"deviceId": {
				remote: "设备编号已经存在"
			}
		},
		focusCleanup: true


	});

	function submitHandler() {
		var data = $('#form-equipment-edit').serializeArray();
		var status = $("input[id='status']").is(':checked') == true ? 0 : 1;
		data.push({"name": "status", "value": status});
		if ($.validate.form()) {
			$.operate.save(prefix + "/edit", data);
		}
	}
</script>
</body>
</html>