<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.flypay.project.service.store.mapper.ServiceStoreMapper">
    
    <resultMap type="ServiceStore" id="ServiceStoreResult">
        <result property="storeId"    column="id"    />
        <result property="storeName"    column="store_name"    />
        <result property="brand"    column="brand"    />
        <result property="city"    column="city"    />
        <result property="equipmentId"    column="equipment_id"    />
        <result property="deviceId"    column="device_id"    />
        <result property="merchantId"    column="merchant_id"    />
        <result property="merchantName"    column="merchant_name"    />
        <result property="status"    column="status"    />
        <result property="delFlag"    column="del_flag"    />
        <result property="creatBy"    column="creat_by"    />
        <result property="creatTime"    column="creat_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
        <result property="remark"    column="remark"    />
    </resultMap>

    <sql id="selectServiceStoreVo">
        SELECT
            ss.id,
            ss.store_name,
            ss.brand,
            ss.city,
            ss.equipment_id,
            se.device_id,
            ss.merchant_id,
            sm.merchant_name,
            ss.`STATUS`,
            ss.del_flag,
            ss.creat_by,
            ss.creat_time,
            ss.update_by,
            ss.update_time,
            ss.remark
        FROM
            service_store ss
            LEFT JOIN service_equipment se ON se.id = ss.equipment_id
            LEFT JOIN service_merchant sm ON sm.id = ss.merchant_id
    </sql>

    <select id="selectServiceStoreList" parameterType="ServiceStore" resultMap="ServiceStoreResult">
        <include refid="selectServiceStoreVo"/>

        <where>
            ss.del_flag = '0'
            <if test="storeId != null "> and id like concat('%', #{storeId}, '%')</if>
            <if test="storeName != null  and storeName != ''"> and store_name like concat('%', #{storeName}, '%')</if>
            <if test="merchantId != null "> and merchant_id = #{merchantId}</if>
            <if test="status != null  and status != ''"> and ss.status = #{status}</if>
            <if test="equipmentId != null  and equipmentId != ''"> and equipment_id = #{equipmentId}</if>
        </where>
    </select>
    
    <select id="selectServiceStoreById" parameterType="Long" resultMap="ServiceStoreResult">
        <include refid="selectServiceStoreVo"/>
        where ss.id = #{storeId}
    </select>
        
    <insert id="insertServiceStore" parameterType="ServiceStore">
        insert into service_store
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null ">id,</if>
            <if test="storeName != null  and storeName != ''">store_name,</if>
            <if test="brand != null  and brand != ''">brand,</if>
            <if test="city != null  and city != ''">city,</if>
            <if test="equipmentId != null ">equipment_id,</if>
            <if test="merchantId != null ">merchant_id,</if>
            <if test="status != null  and status != ''">status,</if>
            <if test="delFlag != null  and delFlag != ''">del_flag,</if>
            <if test="creatBy != null  and creatBy != ''">creat_by,</if>
            <if test="creatTime != null ">creat_time,</if>
            <if test="updateBy != null  and updateBy != ''">update_by,</if>
            <if test="updateTime != null ">update_time,</if>
            <if test="remark != null  and remark != ''">remark,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null ">#{storeId},</if>
            <if test="storeName != null  and storeName != ''">#{storeName},</if>
            <if test="brand != null  and brand != ''">#{brand},</if>
            <if test="city != null  and city != ''">#{city},</if>
            <if test="equipmentId != null ">#{equipmentId},</if>
            <if test="merchantId != null ">#{merchantId},</if>
            <if test="status != null  and status != ''">#{status},</if>
            <if test="delFlag != null  and delFlag != ''">#{delFlag},</if>
            <if test="creatBy != null  and creatBy != ''">#{creatBy},</if>
            <if test="creatTime != null ">#{creatTime},</if>
            <if test="updateBy != null  and updateBy != ''">#{updateBy},</if>
            <if test="updateTime != null ">#{updateTime},</if>
            <if test="remark != null  and remark != ''">#{remark},</if>
         </trim>
    </insert>

    <update id="updateServiceStore" parameterType="ServiceStore">
        update service_store ss
        <if test="providerId != null">
            left join service_merchant sm on  sm.id = merchant_id
            left join service_provider sp on  sp.id = sm.provider_id
        </if>
        <trim prefix="SET" suffixOverrides=",">
            <if test="storeName != null  and storeName != ''">ss.store_name = #{storeName},</if>
            <if test="brand != null  and brand != ''">ss.brand = #{brand},</if>
            <if test="city != null  and city != ''">ss.city = #{city},</if>
            <if test="equipmentId != null ">ss.equipment_id = #{equipmentId},</if>
            <if test="merchantId != null ">ss.merchant_id = #{merchantId},</if>
            <if test="status != null  and status != ''">ss.status = #{status},</if>
            <if test="delFlag != null  and delFlag != ''">ss.del_flag = #{delFlag},</if>
            <if test="creatBy != null  and creatBy != ''">ss.creat_by = #{creatBy},</if>
            <if test="creatTime != null ">ss.creat_time = #{creatTime},</if>
            <if test="updateBy != null  and updateBy != ''">ss.update_by = #{updateBy},</if>
            <if test="updateTime != null ">ss.update_time = #{updateTime},</if>
            <if test="remark != null  and remark != ''">ss.remark = #{remark},</if>
        </trim>
        <if test="providerId != null">
            where sp.id = #{providerId}
        </if>
        <if test="providerId == null">
            <if test="storeId != null">
                where id = #{storeId}
            </if>
            <if test="storeId == null">
                where merchant_id = #{merchantId}
            </if>
        </if>

    </update>

    <delete id="deleteServiceStoreById" parameterType="Long">
        delete from service_store where id = #{storeId}
    </delete>

    <delete id="deleteServiceStoreByIds" parameterType="Long">
        update service_store set del_flag = '2' where id in
        <foreach collection="array" item="id" open="(" separator="," close=")">
            #{storeId}
        </foreach>
    </delete>
</mapper>