<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" >
<head>
	<th:block th:include="include :: header('新增服务商')" />
	<th:block th:include="include :: ztree-css" />
</head>
<body class="white-bg">
	<div class="wrapper wrapper-content animated fadeInRight ibox-content">
		<form class="form-horizontal m" id="form-provider-add">
			<div class="form-group">
				<label class="col-sm-3 control-label ">服务商名称：</label>
				<div class="col-sm-8">
					<input class="form-control" type="text" name="providerName" id="providerName" required>
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-3 control-label ">appID：</label>
				<div class="col-sm-8">
					<input class="form-control" type="text" name="appId" id="appId" required>
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-3 control-label ">MD5Key：</label>
				<div class="col-sm-8">
					<input class="form-control" type="text" name="MD5Key" id="MD5Key" required>
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-3 control-label ">服务商编号：</label>
				<div class="col-sm-8">
					<input class="form-control" type="text" name="mchId" id="mchId" required>
				</div>
			</div>

			<div class="form-group">
				<label class="col-sm-3 control-label">显示顺序：</label>
				<div class="col-sm-8">
					<input class="form-control" type="text" name="providerSort" id="providerSort" required>
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-3 control-label">状态：</label>
				<div class="col-sm-8">
			        <label class="toggle-switch switch-solid">
                        <input type="checkbox" id="status" checked>
                        <span></span>
                    </label>
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-3 control-label">备注：</label>
				<div class="col-sm-8">
					<input id="remark" name="remark" class="form-control" type="text">
				</div>
			</div>
		</form>
	</div>
	<th:block th:include="include :: footer" />
	<script type="text/javascript">
		$("#form-provider-add").validate({
			rules:{
				onkeyup: false,
				providerName:{
					remote: {
		                url: ctx + "service/provider/checkProviderNameUnique",
		                type: "post",
		                dataType: "json",
		                data: {
		                	"providerName" : function() {
		                		return $.common.trim($("#providerName").val());
		                    }
		                },
		                dataFilter: function(data, type) {
		                	return $.validate.unique(data);
		                }
		            }
				},
				appId:{
					remote: {
		                url: ctx + "service/provider/checkProviderAppIdUnique",
		                type: "post",
		                dataType: "json",
		                data: {
		                	"appId" : function() {
		                        return $.common.trim($("#appId").val());
		                    }
		                },
		                dataFilter: function(data, type) {
		                	return $.validate.unique(data);
		                }
		            }
				},
				providerSort:{
					digits:true
				},
			},
			messages: {
		        "providerName": {
		            remote: "服务商名称已经存在"
		        },
		        "appId": {
		            remote: "appID已经存在"
		        }
		    },
		    focusCleanup: true
		});
		
		function submitHandler() {
	        if ($.validate.form()) {
	        	add();
	        }
	    }
	
		function add() {
			var providerName = $("input[name='providerName']").val();
			var appId = $("input[name='appId']").val();
			var MD5Key = $("input[name='MD5Key']").val();
			var mchId = $("input[name='mchId']").val();
			var providerSort = $("input[name='providerSort']").val();
			var status = $("input[id='status']").is(':checked') == true ? 0 : 1;
			var remark = $("input[name='remark']").val();
			$.ajax({
				cache : true,
				type : "POST",
				url : ctx + "service/provider/add",
				data : {
					"providerName": providerName,
					"appId": appId,
					"MD5Key": MD5Key,
					"mchId": mchId,
					"providerSort": providerSort,
					"status": status,
					"remark": remark,
				},
				async : false,
				error : function(request) {
					$.modal.alertError("系统错误");
				},
				success : function(data) {
					$.operate.successCallback(data);
				}
			});
		}
	</script>
</body>
</html>
