<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" >
<head>
    <th:block th:include="include :: header('新增门店')" />
    <th:block th:include="include :: datetimepicker-css" />
</head>
<body class="white-bg">
    <div class="wrapper wrapper-content animated fadeInRight ibox-content">
        <form class="form-horizontal m" id="form-store-add">
            <div class="form-group">    
                <label class="col-sm-3 control-label">门店名称：</label>
                <div class="col-sm-8">
                    <input name="storeName" class="form-control" type="text" required>
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">门店品牌：</label>
                <div class="col-sm-8">
                    <input name="brand" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">门店地址：</label>
                <div class="col-sm-8">
                    <input name="city" class="form-control" type="text" >
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">所属商户：</label>
                <div class="col-sm-8">
                    <select name="merchantId" id="merchantId" class="form-control m-b"  data-th-onchange="changeMerchant()" th:with="mvs=${@merchant.searchAllMerchant()}" required>
                        <option value="">--</option>
                        <option th:each="mv : ${mvs}" th:text="${mv.merchantName}" th:value="${mv.merchantId}"></option>
                    </select>
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">绑定的设备：</label>
                <div class="col-sm-8">
                    <select name="equipmentId" id="equipmentId" class="form-control m-b" required >
                        <option value="">--</option>
<!--                        <option th:each="ev : ${evs}" th:text="${ev.deviceId}" th:value="${ev.equipmentId}"></option>-->
                    </select>
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-3 control-label">状态：</label>
                <div class="col-sm-8">
                    <label class="toggle-switch switch-solid">
                        <input type="checkbox" id="status" checked>
                        <span></span>
                    </label>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">显示顺序：</label>
                <div class="col-sm-8">
                    <input class="form-control" type="text" name="storeSort" id="storeSort" required>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">备注：</label>
                <div class="col-sm-8">
                    <input id="remark" name="remark" class="form-control" type="text">
                </div>
            </div>
        </form>
    </div>
    <th:block th:include="include :: footer" />
    <th:block th:include="include :: datetimepicker-js" />
    <script type="text/javascript" >
        var prefix = ctx + "service/store"

        $("#form-store-add").validate({
            rules:{
                onkeyup: false,
                merchantName:{
                    remote: {
                        url: prefix + "/checkStoreNameUnique",
                        type: "post",
                        dataType: "json",
                        data: {
                            "storeName" : function() {
                                return $.common.trim($("#storeName").val());
                            }
                        },
                        dataFilter: function(data, type) {
                            return $.validate.unique(data);
                        }
                    }
                },
                storeSort:{
                    digits:true
                },
            },
            messages: {
                "storeName": {
                    remote: "门店名称已经存在"
                }
            },
            focusCleanup: true
        });

        function submitHandler() {
            if ($.validate.form()) {
                var data = $('#form-store-add').serializeArray();
                var status = $("input[id='status']").is(':checked') == true ? 0 : 1;
                data.push({"name": "status", "value": status});
                $.operate.save(prefix + "/add", data);
            }
        }

        $("input[name='creatTime']").datetimepicker({
            format: "yyyy-mm-dd",
            minView: "month",
            autoclose: true
        });
        function changeMerchant() {
            //先清空设备option
            $("#equipmentId").html("<option value=\"\">--</option>");
            var merchantId = $('#merchantId option:selected').val();
            //查询商户下的设备集合,并且放入设备列表
            var config = {
                url: ctx + "service/equipment/selectEquipmentByMerchantId",
                type: "get",
                dataType: "json",
                async:false,
                data: { "merchantId": merchantId },
                beforeSend: function () {
                    $.modal.loading("正在处理中，请稍后...");
                },
                success: function(result) {

                    if( result.code == web_status.SUCCESS){
                        $.modal.closeLoading();
                        var datas = result.data;
                        if( datas){
                            //循环
                            $.each(datas, function(i, ele) {
                                $("#equipmentId")[0].options.add(new Option(ele.deviceId,ele.equipmentId))
                            });
                        }

                    }else{
                        $.modal.autoLoading(result.msg,300);
                    }
                }

            };
            $.ajax(config);
        }
    </script>
</body>
</html>