<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" >
<head>
    <th:block th:include="include :: header('修改门店')" />
    <th:block th:include="include :: datetimepicker-css" />
</head>
<body class="white-bg">
    <div class="wrapper wrapper-content animated fadeInRight ibox-content">
        <form class="form-horizontal m" id="form-store-edit" th:object="${serviceStore}">
            <input name="id" th:field="*{storeId}" type="hidden">
            <input id="bind_equipmentId" th:field="*{equipmentId}" type="hidden">
            <input id="bind_merchantId" th:field="*{merchantId}" type="hidden">
            <div class="form-group">
                <label class="col-sm-3 control-label">门店名称：</label>
                <div class="col-sm-8">
                    <input name="storeName" th:field="*{storeName}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">门店品牌：</label>
                <div class="col-sm-8">
                    <input name="brand" th:field="*{brand}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">门店地址：</label>
                <div class="col-sm-8">
                    <input name="city" th:field="*{city}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">所属商户：</label>
                <div class="col-sm-8">
                    <select name="merchantId" id="merchantId" data-th-onchange="change(null)"  class="form-control m-b"  th:with="mvs=${@merchant.searchAllMerchant()}">
                        <option value="">--</option>
                        <option th:each="mv : ${mvs}" th:text="${mv.merchantName}" th:value="${mv.merchantId}" th:field="*{merchantId}"></option>
                    </select>
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">绑定的设备：</label>
                <div class="col-sm-8">
                    <select name="equipmentId" id="equipmentId" class="form-control m-b">
                        <option value="">--</option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">显示顺序：</label>
                <div class="col-sm-8">
                    <input class="form-control" type="text" name="storeSort" id="storeSort" th:field="*{storeSort}"  required>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">备注：</label>
                <div class="col-sm-8">
                    <input id="remark" name="remark" class="form-control" type="text" th:field="*{remark}" >
                </div>
            </div>
<!--            <div class="form-group">    -->
<!--                <label class="col-sm-3 control-label">状态：</label>-->
<!--                <div class="col-sm-8">-->
<!--                    <div class="radio-box" th:each="dict : ${@dict.getType('sys_normal_disable')}">-->
<!--                        <input type="radio" th:id="${'status_' + dict.dictCode}" name="status" th:value="${dict.dictValue}" th:field="*{status}">-->
<!--                        <label th:for="${'status_' + dict.dictCode}" th:text="${dict.dictLabel}"></label>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
        </form>
    </div>
    <th:block th:include="include :: footer" />
    <th:block th:include="include :: datetimepicker-js" />
    <script type="text/javascript">

        //页面加载完进行请求
        $(function(){
            //获取服务商id,获取绑定设备id

            var bind_equipmentId = $('#bind_equipmentId').val();
            change(bind_equipmentId);

        });
        var prefix = ctx + "service/store";
        $("#form-store-edit").validate({
            focusCleanup: true
        });

        function submitHandler() {
            if ($.validate.form()) {
                $.operate.save(prefix + "/edit", $('#form-store-edit').serialize());
            }
        }

        $("input[name='creatTime']").datetimepicker({
            format: "yyyy-mm-dd",
            minView: "month",
            autoclose: true
        });

        function change(bind_equipmentId){
            var merchantId = $('#merchantId option:selected').val();
            var bind_merchantId = $('#bind_merchantId').val();
            if( bind_merchantId == merchantId){
                bind_equipmentId = $('#bind_equipmentId').val();
            }
            $("#equipmentId").html("<option value=\"\">--</option>");

            //查询
            var config = {
                url: ctx + "service/equipment/selectEquipmentByMerchantId",
                type: "get",
                dataType: "json",
                async:false,
                data: { "merchantId": merchantId,"equipmentId": bind_equipmentId},
                beforeSend: function () {
                    $.modal.loading("正在处理中，请稍后...");
                },
                success: function(result) {

                    if( result.code == web_status.SUCCESS){
                        $.modal.closeLoading();
                        var datas = result.data;
                        if( datas){
                            //循环
                            $.each(datas, function(i, ele) {
                                $("#equipmentId")[0].options.add(new Option(ele.deviceId,ele.equipmentId,ele.selected,ele.selected))
                            });
                        }

                    }else{
                        $.modal.autoLoading(result.msg,300);
                    }
                }

            };
            $.ajax(config);
        }
    </script>
</body>
</html>