<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <th:block th:include="include :: header('门店列表')" />
</head>
<body class="gray-bg">
     <div class="container-div">
        <div class="row">
            <div class="col-sm-12 search-collapse">
                <form id="formId">
                    <div class="select-list">
                        <ul>
                            <li>
                                <p>门店id：</p>
                                <input type="text" name="id"/>
                            </li>
                            <li>
                                <p>门店名称：</p>
                                <input type="text" name="storeName"/>
                            </li>
                            <li>
                                <p>所属商户：</p>
                                <select name="merchantId" th:with="type=${@dict.getType('')}">
                                    <option value="">所有</option>
                                    <option th:each="dict : ${type}" th:text="${dict.dictLabel}" th:value="${dict.dictValue}"></option>
                                </select>
                            </li>
                            <li>
                                <p>状态：</p>
                                <select name="status" th:with="type=${@dict.getType('sys_normal_disable')}">
                                    <option value="">所有</option>
                                    <option th:each="dict : ${type}" th:text="${dict.dictLabel}" th:value="${dict.dictValue}"></option>
                                </select>
                            </li>
                            <li>
                                <a class="btn btn-primary btn-rounded btn-sm" onclick="$.table.search()"><i class="fa fa-search"></i>&nbsp;搜索</a>
                                <a class="btn btn-warning btn-rounded btn-sm" onclick="$.form.reset()"><i class="fa fa-refresh"></i>&nbsp;重置</a>
                            </li>
                        </ul>
                    </div>
                </form>
            </div>

            <div class="btn-group-sm" id="toolbar" role="group">
                <a class="btn btn-success" onclick="$.operate.add()" shiro:hasPermission="service:store:add">
                    <i class="fa fa-plus"></i> 添加
                </a>
                <a class="btn btn-primary single disabled" onclick="editValidate()" shiro:hasPermission="service:store:edit">
                    <i class="fa fa-edit"></i> 修改
                </a>
                <a class="btn btn-danger multiple disabled" onclick="$.operate.removeAll()" shiro:hasPermission="service:store:remove">
                    <i class="fa fa-remove"></i> 删除
                </a>
                <!--<a class="btn btn-warning" onclick="$.table.exportExcel()" shiro:hasPermission="service:store:export">
                    <i class="fa fa-download"></i> 导出
                 </a>-->
            </div>
            <div class="col-sm-12 select-table table-striped">
                <table id="bootstrap-table" data-mobile-responsive="true"></table>
            </div>
        </div>
    </div>
    <th:block th:include="include :: footer" />
    <script th:inline="javascript">
        var editFlag = [[${@permission.hasPermi('service:store:edit')}]];
        var removeFlag = [[${@permission.hasPermi('service:store:remove')}]];
        var prefix = ctx + "service/store";

        $(function() {
            var options = {
                url: prefix + "/list",
                createUrl: prefix + "/add",
                updateUrl: prefix + "/edit/{id}",
                removeUrl: prefix + "/remove",
                editValidata: prefix + "/editValidata",
                exportUrl: prefix + "/export",
                modalName: "门店",
                columns: [{
                    checkbox: true
                },
                {
                    field : 'storeId',
                    title : '门店id',
                    visible: false
                },
                {
                    field : 'storeName', 
                    title : '门店名称'
                },
                {
                    field : 'brand', 
                    title : '门店品牌'
                },
                {
                    field : 'city', 
                    title : '门店地址'
                },
                {
                    field : 'equipmentId', 
                    title : '绑定的设备'
                },
                {
                    field : 'merchantId', 
                    title : '所属商户'
                },
                {
                    visible: editFlag == 'hidden' ? false : true,
                    title: '门店状态',
                    align: 'center',
                    formatter: function (value, row, index) {
                        return statusTools(row);
                    }
                },
                {
                    field : 'creatBy', 
                    title : '创建人'
                },
                {
                    field : 'creatTime', 
                    title : '创建时间'
                },
                {
                    field : 'updateTime', 
                    title : '更新时间'
                },
                {
                    field : 'remark', 
                    title : '备注'
                },
                {
                    title: '操作',
                    align: 'center',
                    formatter: function(value, row, index) {
                        var actions = [];
                        actions.push('<a class="btn btn-success btn-xs ' + editFlag + '" href="javascript:void(0)" onclick="editValidate(\'' + row.storeId + '\')"><i class="fa fa-edit"></i>编辑</a> ');
                        actions.push('<a class="btn btn-danger btn-xs ' + removeFlag + '" href="javascript:void(0)" onclick="$.operate.remove(\'' + row.storeId + '\')"><i class="fa fa-remove"></i>删除</a>');
                        return actions.join('');
                    }
                }]
            };
            $.table.init(options);
        });
        function statusTools(row) {
            if (row.status == 1) {
                return '<i class=\"fa fa-toggle-off text-info fa-2x\" onclick="enable(\'' + row.storeId + '\')"></i> ';
            } else {
                return '<i class=\"fa fa-toggle-on text-info fa-2x\" onclick="disable(\'' + row.storeId + '\')"></i> ';
            }
        }
        /* 商户管理-停用 */
        function disable(storeId) {
            $.modal.confirm("确认要停用门店吗？", function() {
                $.operate.post(prefix + "/changeStatus", { "storeId": storeId, "status": 1 });
            })
        }

        /* 角色管理启用 */
        function enable(storeId) {
            $.modal.confirm("确认要启用门店吗？", function() {
                $.operate.post(prefix + "/changeStatus", { "storeId": storeId, "status": 0 });
            })
        }
        function editValidate(storeId) {
            if($.common.isEmpty(storeId) && $.table._option.type == table_type.bootstrapTreeTable) {
                var row = $.bttTable.bootstrapTreeTable('getSelections')[0];
                if ($.common.isEmpty(row)) {
                    $.modal.alertWarning("请至少选择一条记录");
                    return;
                }
                storeId = row[$.table._option.uniqueId];
            }
            //校验是否可编辑
            var config = {
                url: $.table._option.editValidata,
                type: "get",
                dataType: "json",
                async:false,
                data: { "storeId": storeId },
                beforeSend: function () {
                    $.modal.loading("正在处理中，请稍后...");
                },
                success: function(result) {
                    $.operate.ajaxResult(result);
                    if( result.code == web_status.SUCCESS){
                        edit(storeId);
                    }
                }

            };
            $.ajax(config);

        }
        function edit(storeId){
            //如果可以编辑
            $.operate.edit(storeId);
        }
    </script>
</body>
</html>