<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" >
<head>
	<th:block th:include="include :: header('修改商户')" />
</head>
<body class="white-bg">
	<div class="wrapper wrapper-content animated fadeInRight ibox-content">
		<form class="form-horizontal m" id="form-merchant-edit" th:object="${merchant}">
			<input id="merchantId" name="merchantId" type="hidden" th:field="*{merchantId}"/>
			<div class="form-group">
				<label class="col-sm-3 control-label ">商户名称：</label>
				<div class="col-sm-8">
					<input class="form-control" type="text" name="merchantName" id="merchantName" th:field="*{merchantName}" required>
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-3 control-label ">appID：</label>
				<div class="col-sm-8">
					<input class="form-control" type="text" name="appId" id="appId" readonly="true" th:field="*{appId}" required>
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-3 control-label ">MD5Key：</label>
				<div class="col-sm-8">
					<input class="form-control" type="text" name="MD5Key" id="MD5Key" th:field="*{MD5Key}" required>
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-3 control-label ">商户编号：</label>
				<div class="col-sm-8">
					<input class="form-control" type="text" name="mchId" id="mchId" th:field="*{mchId}" required>
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-3 control-label">所属服务商：</label>
				<div class="col-sm-8">
					<select name="providerId" class="form-control m-b" th:with="ps=${@providerservice.searchALLProviders()}">
						<option th:each="p : ${ps}" th:text="${p.providerName}" th:value="${p.providerId}" th:field="*{providerId}" ></option>
					</select>
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-3 control-label">显示顺序：</label>
				<div class="col-sm-8">
					<input class="form-control" type="text" name="merchantSort" id="merchantSort" th:field="*{merchantSort}" required>
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-3 control-label">状态：</label>
				<div class="col-sm-8">
					<label class="toggle-switch switch-solid">
                        <input type="checkbox" id="status" th:checked="${merchant.status == '0' ? true : false}">
                        <span></span>
                    </label>
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-3 control-label">备注：</label>
				<div class="col-sm-8">
					<input id="remark" name="remark" class="form-control" type="text" th:field="*{remark}">
				</div>
			</div>
		</form>
	</div>
	<th:block th:include="include :: footer" />
	<script type="text/javascript">

		$("#form-merchant-edit").validate({
			onkeyup: false,
			rules:{
				merchantName:{
					remote: {
		                url: ctx + "service/merchant/checkMerchantNameUnique",
		                type: "post",
		                dataType: "json",
		                data: {
							"merchantId": function() {
							    return $("#merchantId").val();
							},
							"merchantName": function() {
							    return $.common.trim($("#merchantName").val());
							}
		                },
		                dataFilter: function(data, type) {
		                	return $.validate.unique(data);
		                }
		            }
				},
				merchantSort:{
					digits:true
				},
			},
			messages: {
		        "merchantName": {
		            remote: "商户名称已经存在"
		        }
		    },
		    focusCleanup: true
		});

		function edit() {
			var merchantId = $("input[name='merchantId']").val();
			var merchantName = $("input[name='merchantName']").val();
			var MD5Key = $("input[name='MD5Key']").val();
			var mchId = $("input[name='mchId']").val();
			var merchantSort = $("input[name='merchantSort']").val();
			var status = $("input[id='status']").is(':checked') == true ? 0 : 1;
			var remark = $("input[name='remark']").val();
			var data = $("#form-merchant-edit").serializeArray();
			$.ajax({
				cache : true,
				type : "POST",
				url : ctx + "service/merchant/edit",
				data : data,
				async : false,
				error : function(request) {
					$.modal.alertError("系统错误");
				},
				success : function(data) {
					$.operate.successCallback(data);
				}
			});
		}
		
		function submitHandler() {
	        if ($.validate.form()) {
	        	edit();
	        }
	    }
	</script>
</body>
</html>
